@model MilestoneCST247.Models.RegisterRequest

@{
    ViewBag.Title = "RegistrationSuccess";
}

<h2>RegistrationSuccess</h2>

<div>

    Sucessfully registered in as @Model.Username

</div>

<div>
    @Html.ActionLink("Login Here", "Index", "Login")
</div>