@model MilestoneCST247.Models.RegisterRequest

@{
    ViewBag.Title = "RegistrationSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.a {
        font-size: 150%;
        color: blue;
    }
</style>

<h2>Registration Success!</h2>

<div class="a" >

    Sucessfully registered in as @Model.Username

</div>

<div>
    @Html.ActionLink("Login Here", "Index", "Login")
</div>