@model MilestoneCST247.Models.LoginResponse
@{
    ViewBag.Title = "LoginFailure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login Failed!</h2>
<p>
    @Html.ActionLink("Try again?", "Index")
</p>

