@model MilestoneCST247.Models.LoginRequest

@{
    ViewBag.Title = "LoginSuccess";
}

<h2>LoginSuccess</h2>

<div>
    <div>
        Sucessfully logged in as @Model.Username @Model.Password
    </div>


    @Html.ActionLink("Play Game", "Index", "game", new { area = "" }, new { @class = "navbar-brand" })



</div>


